* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: Arial;
  padding: 10px;
  background: #f1f1f1;
}


.header {
  padding: 30px;
  text-align: center;
  background: linear-gradient(to bottom, rgb(255, 0, 0), rgb(255, 255, 255));
}

.header h1 {
  font-size: 50px;
}

.topnav {
  overflow: hidden;
  background-color: white;
}

.topnav a {
  float: left;
  display: block;
  color: red;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
}


.topnav a:hover {
  background-color: black;
  color: white;
}

.leftcolumn {   
  float: left;
  width: 75%;
}

.rightcolumn {
  float: left;
  width: 25%;
  background-color: #f1f1f1;
  padding-left: 20px;
}


.fakeimg {
  
  width: 10%;
  padding: 20px;
}
.fakeimg img{
  align-items:center ;
  max-width: 100%;
}

.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}


.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}


@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}
.imagem-topo{
  border-radius: 10px 10px 10px 10px;
  width: 30%;
  height: 5%;
}
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=password], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #ff0000;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.rodape_inicial{
  color: white;
  display: flex;
  justify-content: space-around;
}
.rodape_final{
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-around;
}

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.img_rod{
  width: 10%;
  display: block;
margin-left: auto;
margin-right: auto;
}
.img_times{
  width: 50%;
  display: block;
  margin-left: auto;
   margin-right: auto;
}
